body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-wrap {
  padding-top: 60px;
}

.logo {
  display: inline-block;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #000;
}

.logo-color {
  color: #4bcaff;
}

.top-menu {
  margin-top: 50px;
  background: #35444f;
  display: flex;
  justify-content: center;
}
.top-menu-item {
  border-right: 1px solid #fff;
}
.top-menu-item:first-child {
  border-left: 1px solid #fff;
}
.top-menu-link {
  display: block;
  padding: 20px 25px;

  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.top-menu-link:hover {
  background: #222f3a;
}

.main-wrap {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.left-menu {
  width: 345px;
  border: 1px solid #000000;
}

.left-menu-link {
  display: flex;
  padding: 25px 45px;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #485863;
}

.left-menu-link:hover {
  justify-content: center;
  color: #35444f;
  background-color: #dbdbdb;
}
/* main content */
.main-content-container {
  max-width: 885px;
}

.main-image-container {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.main-image:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 1.3s;
}

.main-content-text {
  margin-top: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
  margin-bottom: 30px;
}

.footer-menu {
  margin-right: 135px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.footer-menu-item {
  padding-bottom: 8px;
}

.footer-menu-link {
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #3181a600;
  padding: 20px 0 11px;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
